# Python compilados y caché
__pycache__/
*.pyc

# Archivos de sistema y editores
.DS_Store
*~
*.swp

# Entorno Virtual
venv/

# Configuracion de VS Code
.vscode/

# Notas mias
notas_mias.txt
InSearch_V_Python_2.py
a.DoNotBeDistracted.py
esqueleto.py
pruebaEntVirtual.py
C.NotAdjacentMatrix.py
